/* -----------------------------Common*/

body {
    background-image: url(../images/pinkdust.png);  /* https://www.toptal.com/designers/subtlepatterns/thumbnail-view/page/9/ */
    position: relative;
    overflow-y: auto;
    overflow-x: hidden; 
}

section {
    color:#FFF8DC; 
}

.section-heading {
    background-color: rgba(134, 179, 209, 0.90);
    color: #FFF8DC;
    margin:25px 0; 
    padding: 8px;
    -webkit-box-shadow: 0px 0px 14px 1px rgba(237,181,191,0.5);
    -moz-box-shadow: 0px 0px 14px 1px rgba(237,181,191,0.5);
    box-shadow: 0px 0px 14px 1px rgba(237,181,191,0.5);  
}

/* -----------------------------Header/Menu*/

.menu {
    background-color:#4D6D9A;
    padding: 0;
    -webkit-box-shadow: 0px 1px 1px 1px rgba(237,181,191,0.8);
    -moz-box-shadow: 0px 1px 1px 1px rgba(237,181,191,0.8);
    box-shadow: 0px 1px 1px 1px rgba(237,181,191,0.8);
}

.menu .menu-left {
    padding-left: 28px;
    color: #FFF8DC;
}

.menu .menu-left:hover {
    color: #FFF8DC;
}

.menu-right {
    padding-right: 20px;
    text-align: right;
}

.menu-item a {
    font-size: 20px;
    background: transparent;
}

.menu-item a:hover {
    background: #99CED3;
}

.color-item,
.color-item:hover,
.color-item.active {
    color:#FFF8DC!important;
}

 .color-item.active {
    background-color:#99CED3;  
}

/* ---------------------------My info */

.my-info-photo {
    margin-top: 105px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height:200px;
}

.my-info {
    background-color: rgba(134, 179, 209, 0.90);
    color: #FFF8DC;
    width:100%;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 20px 3px rgba(237,181,191,0.61);  /*https://www.cssmatic.com/box-shadow*/
    -moz-box-shadow: 0px 0px 20px 3px rgba(237,181,191,0.61);
    box-shadow: 0px 0px 20px 3px rgba(237,181,191,0.61);
}

.center-item-info {
    height: 100%;
    align-items: center;
}

.item-info-left {
    text-align: right;
}

.my-photo {
    position: absolute;   
}

.shape-photo {
    border-style: solid;
    border-color:#3e3c3d;
    border-width: 8px;
}

/* --------------------------------  About Me*/

.about-me {
    padding-top: 26px;
}

.custom-icon {
    width: 40px;
    padding: 10px 0;
    border-radius: 50%;
    font-size: 25px;
    line-height: 20px;
    text-align: center;
    color: #FFF8DC;
    background: #99CED3;
}

.item-about-me {
    padding-top: 20px;
}

.item-about-me > h4, .item-about-me > h5 {
    color: #99CED3;
}

.about-me-icon li {
    display: inline-block;
    padding: 5px;
}

.language {
    padding-left: 0px;
}

.dot-color {
    color: #86B3d1;
}

.icons-left {
    padding-left: 45px;
}

/* --------------------------------My Experience/Education */

.experience-margin, .education-margin {
    margin-top: 20px;
}

.experience-icon {
    width: 54px;
    padding: 15px;
    border-radius: 50%;
    font-size: 25px;
    line-height: 20px;
    text-align: center;
    color: #FFF8DC;
    background: #99CED3;
}

.blue-text {
    color:#99CED3;
    margin-bottom: 3px;
}

.year-low {
    margin-bottom: 20px;
    text-align: center;
    padding-left: 55px;
}

.education-heading, skills-heading {
    margin: 20px 0;
}

.education-font-size {
    font-size: 15px;
}

/* --------------------------------My Skills */

.my-skills-margin {
    margin: 0px;
    padding-left: 0px;
}

.color-progress {
    background-color: #86B3d1;
}

.download-cv {
    text-align: center;
    margin: 50px 0;
    color: #99CED3;
}

.download-cv i:hover {
    background: #3e3c3d;
}

/* --------------------------------Contact */

.contact {
    margin-top: 30px;
    margin-bottom: 30px;
}

.center-form {
    width: 60%;
    margin: auto;
}

.form-control{
    background: rgba(134, 179, 209, 0.295);
    border-color: #EDB5BF; 
    margin-bottom: 3px;
}

.color-placeholder::-webkit-input-placeholder {
    color:#EDB5BF; 
}

.color-placeholder::-moz-input-placeholder {
    color:#EDB5BF; 
}

.color-placeholder::-o-input-placeholder {
    color:#EDB5BF; 
}

.color-placeholder::-ms-input-placeholder {
    color:#EDB5BF; 
}

.design-btn {
    font-size: 20px;
    color: #FFF8DC;
    background: #99CED3;
    border-color: #EDB5BF;
    margin-top: 7px;
    margin-bottom: 30px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out; 
    -ms-transition: all 0.35s ease-in-out;
}

.design-btn:hover {
    background: #3e3c3d;
}

/* --------------------------------Footer */

.footer-icon {
    min-height: 50px;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #4D6D9A;
    -webkit-box-shadow: 0px -1px 1px 1px rgba(237,181,191,0.8);
    -moz-box-shadow: 0px -1px 1px 1px rgba(237,181,191,0.8);
    box-shadow: 0px -1px 1px 1px rgba(237,181,191,0.8);
}

.footer-icon-item i {
    width: 40px;
    padding: 10px 0;
    margin: 13px;
    margin-right: 0rem;
    border-radius: 50%;
    font-size: 25px;
    line-height: 20px;
    text-align: center;
    color: #FFF8DC;
    background: #99CED3;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.footer-icon-item i:hover {
    background: #4D6D9A;
}

/* ------------------------------Media */

@media (max-width: 768px) {
  .item-info-left, .item-info-right{
      text-align: center;
  }
}

